:root {
    font-family: "Open Sans", sans-serif ;
    line-height: 150%;
}

body {
    background-color: #F5F4F0;
    background-size: cover;
}

#page {
    box-sizing: border-box;
    width: 1080px;
    padding: 18px;
    margin: 20px;
    
    
}

main {
    padding: 50px 100px;
}

img {
    border-radius: 28px;
    width: 100%; 
  }

.headline {
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    color: #e1624f;
    text-transform: uppercase; 
}

.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    text-align: center;
    color: #333333;
    margin-top: 18px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

h2 {
    font-size: 32x;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #1B1B1B
}

.lista {
    color: #0C51A7;
    font-weight: bold;
    margin-bottom: 48px;
  }

.purple {
    color: #591B98;
}

.pink {
    color: #E5245E;
}

.orange {
    color: #E95E10;
}

ul li::marker {
    color: #333333;
  }

ul {
    font-weight: bold;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 40px 40px 40px;
    background-color: #d9d9d9;
  }

.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-style: italic; /* Muda estilo da fonte para itálico */
    text-align: center;
    color: #333333;
    margin-top: 24px;
  }
  
#primeirodestino {
    margin-top: 64px;
}

footer {
    color: #333333;
    text-align: center;
    padding-bottom: 48px;
    margin: 65px;
}

footer img {
    max-width: 20px;
    vertical-align: middle;
}